@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins);
  font-size: 1rem;
}

/* h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
} */

/* @media (min-width: 640px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 2.827rem;
  }

  h3 {
    font-size: 1.999rem;
  }

  h4 {
    font-size: 1.414rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 6.854rem;
  }

  h2 {
    font-size: 4.236rem;
  }

  h3 {
    font-size: 2.618rem;
  }

  h4 {
    font-size: 1.618rem;
  }
} */

body {
  color: #191514;
}

.text-with-stroke {
  stroke-width: 2px;
  -webkit-text-stroke: 1px #b19777;
}

.hover-background-applicattion {
  background: linear-gradient(#000000 0 0) left / var(--p, 0) no-repeat;
  background-position: 100% 0 0% 0;
  transition: 0.4s, background-position 0.4s;
}
.hover-background-applicattion:hover {
  --p: 100%;
  /* background-position: right; */
  background-position: 0% 0% 0% 0%;
}
